<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.devops.compile.mapper.DevopsCompileMapper">
    <!-- 根据状态查询服务器含有当前项目 -->
    <select id="queryServerStatus" parameterType="String" resultType="org.jeecg.modules.devops.server.entity.DevopsServer">
        SELECT a.* FROM devops_server a inner join
        devops_code b on a.id = b.code_server_id and
        a.server_status = #{serverStatus}
        and b.code_name = #{platform}
        and b.code_status = #{codeStatus}
        order by server_performance desc;
    </select>

    <select id="queryCompile" parameterType="String" resultType="org.jeecg.modules.devops.compile.entity.DevopsCompile">
        SELECT * FROM devops_compile WHERE id = #{id};
    </select>

    <insert id="insertHandleCopy" parameterType="org.jeecg.modules.devops.compile.entity.DevopsCompile">
        INSERT INTO devops_compile (
        id,
        create_by,
        create_time,
        sys_org_code,
        compile_name,
        compile_desc,
        compile_platform_id,
        new_compile_project,
        compile_project_id,
        compile_server_ip,
        compile_variant,
        compile_action,
        compile_is_sign,
        compile_is_verify,
        compile_send_email,
        compile_sign_ftp_id,
        compile_login_account,
        compile_verity_ftp_user_name,
        compile_sv_platform_terrace,
        cherry_pick
        ) VALUES (
        #{id},
        #{create_by},
        #{create_time},
        #{sys_org_code},
        #{compile_name},
        #{compile_desc},
        #{compile_platform_id},
        #{new_compile_project},
        #{compile_project_id},
        #{compile_server_ip},
        #{compile_variant},
        #{compile_action},
        #{compile_is_sign},
        #{compile_is_verify},
        #{compile_send_email},
        #{compile_sign_ftp_id},
        #{compile_login_account},
        #{compile_verity_ftp_user_name},
        #{compile_sv_platform_terrace},
        #{cherry_pick});
    </insert>


    <!-- 根据状态查询服务器含有当前项目 -->
    <select id="queryServerStatusAndIp" parameterType="String" resultType="org.jeecg.modules.devops.server.entity.DevopsServer">
        SELECT a.* FROM devops_server a inner join
        devops_code b on a.id = b.code_server_id
        and a.server_status = #{serverStatus}
        and a.server_ip = #{serverIp}
        and b.code_name = #{platform}
        and b.code_status = #{codeStatus} ;
    </select>

    <select id="queryServerCode" parameterType="String" resultType="org.jeecg.modules.devops.server.entity.DevopsServer">
        SELECT a.* FROM devops_server a inner join
        devops_code b on a.id = b.code_server_id
        and a.server_status != 2
        and a.server_status != 4
        and b.code_name = #{platform}
        and b.code_status = #{codeStatus} ;
    </select>

    <!-- 根据状态查询服务器含有当前项目 -->
    <select id="queryServerCodeAndIp" parameterType="String" resultType="org.jeecg.modules.devops.server.entity.DevopsServer">
        SELECT a.* FROM devops_server a inner join
        devops_code b on a.id = b.code_server_id
        and a.server_status != 2
        and a.server_status != 4
        and a.server_ip = #{serverIp}
        and b.code_name = #{platform}
        and b.code_status = #{codeStatus} ;
    </select>

    <!-- 根据状态查询地址 -->
    <select id="queryCodeDir" parameterType="String" resultType="org.jeecg.modules.devops.code.entity.DevopsCode">
        SELECT * FROM devops_code
        WHERE code_server_id = #{serverId} and
        code_name = #{platform};
    </select>

    <!-- 写入服务器状态 -->
    <update id="updateServerStatus">
        UPDATE devops_server
        SET server_status =  #{serverStatus}
        WHERE id = #{serverID};
    </update>

    <!-- 写入服务器状态 -->
    <update id="updateCompileStatus">
        UPDATE devops_compile
        SET compile_status =  #{compileStatus}
        WHERE id = #{compileID};
    </update>

    <!-- 根据id 查服务器密码 -->
    <select id="queryFtp" parameterType="String" resultType="org.jeecg.modules.devops.ftp.entity.DevopsFtp">
        SELECT * FROM devops_ftp
        WHERE id = #{id}
    </select>

    <!-- 根据id 查服务器密码 -->
    <select id="querySign" parameterType="String" resultType="org.jeecg.modules.devops.sign.entity.DevopsSign">
        SELECT * FROM devops_sign
        WHERE sign_account = #{signAccount}
    </select>

    <select id="queryCompileQueue" parameterType="String" resultType="org.jeecg.modules.devops.compile.entity.DevopsCompile">
        SELECT * FROM devops_compile
        WHERE compile_status = #{compileStatus}
        order by compile_queue_level desc;
    </select>

    <!-- 写入服务器状态 -->
    <update id="updateCompileQueueLevel">
        UPDATE devops_compile
        SET compile_queue_level =  #{Level}
        WHERE id = #{id};
    </update>

    <!-- 写入服务器状态 -->
    <update id="clearJenkinsData">
        UPDATE devops_compile
        SET compile_sign_id = NULL,compile_verity_id = NULL,compile_sign_ftp_url = NULL,compile_jenkins_job_id = NULL,
        compile_jenkins_job_name = NULL,compile_build_finish_time = NULL,compile_build_time = NULL,compile_log_url = NULL
        WHERE id = #{id};
    </update>

</mapper>